@import "tailwindcss";

@layer utilities {
  @keyframes fall {
    from {
      transform: translateY(-100px) rotate(0deg);
      opacity: 1;
    }
    to {
      transform: translateY(calc(100vh + 100px)) rotate(360deg);
      opacity: 0.8;
    }
  }
}
